@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --bg-color: #0b0c10;
    --primary-color: #66fcf1;
    --secondary-color: #45a29e;
    --text-color: #c5c6c7;
    --dark-text-color: #1f2833;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.logo:hover {
    background-color: var(--primary-color);
    color: transparent;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
    color: var(--primary-color);
}

/* Efecto de desenfoque de la navbar */
.navbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Cubre toda la navbar */
    background-color: rgba(11, 12, 16, 0.8); /* Fondo semi-transparente del color del body */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido de la navbar */
}


/* Botón de chat flotante - Estilos globales */
.chat-btn-container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
}

.chat-icon {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 0.75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.4s cubic-bezier(.3,1.5,.7,1);
}

.chat-icon:hover {
    transform: translateY(-5px) scale(1.1);
}